<div class="share-button">
    <div class="lid">Share</div>
    <div class="share-items-wrapper">
        <div class="share-items">
            <a href="#" class="share-item">
                <span class="entypo-facebook"></span>
            </a>
            <a href="#" class="share-item">
                <span class="entypo-twitter"></span>
            </a>
            <a href="#" class="share-item">
                <span class="entypo-dribbble"></span>
            </a>
            <a href="#" class="share-item">
                <span class="entypo-vimeo"></span>
            </a>
            <a href="#" class="share-item">
                <span class="entypo-tumblr"></span>
            </a>
            <a href="#" class="share-item">
                <span class="entypo-behance"></span>
            </a>
        </div>
    </div>
    <div class="thank-you">
        Thank you
    </div>
</div>
